.mainContainer
{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    height: 93.6vh;
}
.containerColuna
{
    border-radius: 8px;
    background: var(--color-text-primary);
    color: var(--color-text-secondary);
    font-weight: 600;
    min-width: 19.2em;
    height: min-content;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.headerColuna
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footerColuna
{
    padding: 10px;
}
.task
{
    padding: 10px;
    color: var(--color-text-secondary);
    font-weight: 500;
    background: var(--color-text-neutro);
    transition: all 0.6s;
    display: flex;
    justify-content: space-between;
}
.task:hover
{
    border-radius: 10px;
    background: var(--color-text-terciary);
    transition: all 0.6s;
}
.inputTask
{
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    margin-left: -1em;
}
.buttonHeadeColuna
{
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}
.task:hover .buttonHeadeColuna
{
    margin-left: 0em;
    opacity: 1;
    visibility: visible;
    display: inline-block;
    transition: all 0.6s;
}
.task:hover .inputTask
{
    margin-left: 0em;
    opacity: 1;
    visibility: visible;
    display: inline-block;
    transition: all 0.6s;
}
.containerBtnAddColuna
{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    color: var(--color-text-neutro);
    min-width: 19.2em;
    max-height: 3em;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s;
}
.containerBtnAddColuna:hover
{
    color: var(--color-text-secondary);
    background: rgba(255, 255, 255, 1);
    transition: all 0.3s;
}
#modalAddColumn, #modalEditTask
{
    background-color: rgba(0,0,0, .8);
}
#inputAddNameColumn
{
    width: 100%;
    border: 0.5px solid var(--color-text-primary);
    border-radius: 6px;
    outline: none;
}
#inputAddNameColumn:focus, #inputAddNameColumn:active
{
    outline: none;
    border: 1px solid var(--color-text-neutro);
}
.containerContentModalAddTask
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#containerDescriptionTask
{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
#containerDescriptionTask > textarea
{
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-text-primary);
}
#containerDescriptionTask > textarea:focus, #containerDescriptionTask > textarea:active
{
    outline: none !important;
    border: 0.5px solid var(--color-text-primary);
    box-shadow: none;
}
#containerDescriptionTask > .content-group
{
    width: 100%;
}
#nameTask
{
    width: 100%;
    border-radius: 8px;
    border: 0.8px solid var(--color-text-primary)
}
#containerCommentTask
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#titleInfo
{
    display: flex;
    gap: 10px;
}
#titleInfo > *
{
    font-weight: 600;
}
.profile
{
    background: var(--color-text-quaternary);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(--color-text-terciary);
    padding: 5px;
    font-size: 14pt;
    font-weight: bold;
}
#containerUserInfos
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#containerUserInfos > p
{
    font-size: 12pt;
}
.containerUserInfosUser
{
    font-weight: 700;
}
.containerUserInfosDate
{
    text-decoration: underline;
    font-size: 10pt;
    font-weight: 600;
    color: var(--color-text-quaternary);
}
#modalAddTask
{
    background: hsla(0, 0%, 0%, 0.8);
}
#inputTitleTask
{
    width: 100%;
    border: 1px solid var(--color-text-primary);
}