.headerDivAppBlade
{
    border-bottom: 1px solid grey; 
}
.headerContainer
{
    display: flex;
    justify-content: space-between;
    height: 2.5em;
}
#profileSlug
{
    background: var(--color-text-fithy);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: var(--color-text-neutro)
}